[submodule "CSharp/AppLibraries/SimpleCrawler.Core"]
	path = CSharp/AppLibraries/SimpleCrawler.Core
	url = git@github.com:recep-genc/SimpleCrawler.Core.git
[submodule "CSharp/SimpleCrawler.Engine"]
	path = CSharp/SimpleCrawler.Engine
	url = git@github.com:recep-genc/SimpleCrawler.Engine.git
[submodule "CSharp/SimpleCrawler.APIGateway"]
	path = CSharp/SimpleCrawler.APIGateway
	url = git@github.com:recep-genc/SimpleCrawler.APIGateway.git
[submodule "CSharp/AppLibraries/SimpleCrawler.NetCore"]
	path = CSharp/AppLibraries/SimpleCrawler.NetCore
	url = git@github.com:recep-genc/SimpleCrawler.NetCore.git
[submodule "React/simple-crawler.react.web"]
	path = React/simple-crawler.react.web
	url = git@github.com:recep-genc/simple-crawler.react.web.git
